<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.PP2"
        tools:targetApi="33" >
        <activity
            android:name=".Activities.JournalActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.SubjectActivity"
            android:exported="false" />
        <activity
            android:name=".Adapters.LessonRowAdapter"
            android:exported="false" />
        <activity
            android:name=".AddActivities.AddLessonActivity"
            android:exported="false"
            android:parentActivityName=".Activities.LessonsActivity" />
        <activity
            android:name=".Activities.LessonsActivity"
            android:exported="false"
            android:parentActivityName=".Activities.StudentsActivity" />
        <activity
            android:name=".AddActivities.AddStudentActivity"
            android:exported="false"
            android:parentActivityName=".Activities.StudentsActivity" />
        <activity
            android:name=".Activities.StudentsActivity"
            android:exported="false"
            android:parentActivityName=".Activities.GroupsActivity" />
        <activity
            android:name=".AddActivities.AddGroupActivity"
            android:exported="false"
            android:parentActivityName=".Activities.GroupsActivity" />
        <activity
            android:name=".Activities.GroupsActivity"
            android:exported="false"
            android:parentActivityName=".Activities.SubjectActivity" />
        <activity
            android:name=".AddActivities.AddSubjectActivity"
            android:exported="false"
            android:parentActivityName=".Activities.SubjectActivity" />
    </application>

</manifest>